<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nova Entidade - WeForm</title>
  </head>

<!-- TODO: estilizar index, terminar estrutura html do cadastro-entidade e criar mais 2 paginas html -->
<!-- TODO: implementar banco de dados, mongodb com node para manter as entidades,campos de coleta,novos cadastros etc. -->
<!-- TODO: implementar campo endereço na entidade e utilizar api de CEP-->

<!-- design link: https://www.figma.com/file/rQRDro1gtuJnwZmKfpwbak/We-Form-(Copy)?node-id=0%3A1&mode=dev -->

  <body>
    <main>
      <div class="container-left">
        <img src="" alt="weform logo" />
        <h1 class="logo"><span class="red">We</span>Form</h1>
      </div>
      <div class="container-right">
        <form action="">
          <fieldset>
            <legend><span class="arrow"></span>Nova <span class="red">Entidade</span></legend>

            <div class="form-field">
              <label for="name">Name:</label
              ><input aria-label="name" type="text" name="name" />
            </div>
            <div class="form-field">
              <label for="campo-atuacao">Campo de atuação</label
              >
              <select name="campo-atuacao" id="campo-atuacao">
                <option value="ponto um">ponto um</option>
                <option value="ponto dois">ponto dois</option>
                <option value="ponto tres">ponto tres</option>
              </select>
            </div>
            <div class="form-field">
              <label for="ponto-coleta">pontos de ponto-coleta</label
              ><input
                type="text"
                name="ponto-coleta"
                aria-label="ponto de coleta"
              />  
            </div>
          </fieldset>

          <button class="btn novo-cadastro">Cadastro</button>
        </form>
      </div>
    </main>
  </body>
</html>
