<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
  <title>Cadastro Campo de Atuação - WeForm</title>
</head>
<body>
  

  <main>
    <div class="container-left">
      <img src="" alt="weform logo">
      <h1 class="logo"><span class="red">We</span>Form</h1>
    </div>
    <div class="container-right">
      <form action="#">
        <fieldset>
          <legend><span class="arrow"></span>Campo de <span class="red">Atuação</span></legend>

          <div class="form-field">
            <label for="pesquisar-atuacao">Pesquisar Atuação:</label
            ><input aria-label="pesquisar-atuacao" type="text" name="pesquisar-atuacao" />
          </div>
          <div class="form-field">
            <label for="campo-atuacao">Campo de atuação:</label
            ><input aria-label="campo-atuacao" type="text" name="campo-atuacao" />
          </div>
    </div>
  </main>


</body>
</html>