<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/public/styles/main.css">

  <title>Home - WeForm</title>
</head>
<body>
  <main>
    <div class="container-left">
      <img src="/public/img/dog-illustration.png" alt="weform logo">
      <h1 class="logo"><span class="red">We</span>Form</h1>
    </div>
    <div class="container-right">
      <h2>Cadastre sua <span class="red">entidade</span>ou
        acesse dados <span class="red">de parceiras</span></h2>

        <a href="cadastro-entidade.html" class="btn cadastro">Cadastrar entidade</a><a href="lista-entidades.html" class="btn ver-entidades">Ver Entidades Cadastradas</a>
        <p>Sua entidade não se enquadra nos campos de atuação disponíveis?
          <a class="registra-campo" href="cadastro-campo-atuacao.html">Registrar novo campo de atuação</a>
        </p>
        
    </div>
  </main>
</body>
</html>