<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="../public/styles/main.css">

  <link rel="stylesheet" href="../public/styles/lista-entiades.css">

  <title>Entidades Cadastradas - WeForm</title>
</head>
<body>
  <div class="container">
    <h1 class="logo"><span class="red">We</span>Form</h1>

    <div class="entidades-list-wrapper">
      <h2><span class="arrow"></span><span class="red">Entidades</span>Cadastradas</h2>
      <ul id="entidades-list">
        <li>Pet lar<button>Abrigo de animais</button><a href="#">Ver dados</a></li>
        <li>Nosso Prato<button>Centro de alimentação</button><a href="#">Ver dados</a></li>
        <li>Creche do Sol<button>Creche infantil</button><a href="#">Ver dados</a></li>
        <li>Cãezins<button>Abrigo de animais</button><a href="#">Ver dados</a></li>
        <li>Prato 1 Real<button>Restaurante popular</button><a href="#">Ver dados</a></li>
      </ul>
    </div>
  </div>


</body>
</html>