<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Entidades Cadastradas - WeForm</title>
</head>
<body>
  
  <h1><span>We</span>form</h1>
  <h1 class="logo"><span class="red">We</span>Form</h1>

  <ul id="entidades-container">
    <li>Pet lar<button>Abrigo de animais</button><a href="#">Ver dados</a></li>
    <li>Nosso Prato<button>Centro de alimentação</button><a href="#">Ver dados</a></li>
    <li>Creche do Sol<button>Creche infantil</button><a href="#">Ver dados</a></li>
    <li>Cãezins<button>Abrigo de animais</button><a href="#">Ver dados</a></li>
    <li>Prato 1 Real<button>Restaurante popular</button><a href="#">Ver dados</a></li>
  </ul>

</body>
</html>