form{
  max-width: 603px;
  width: 100%;
}
fieldset{
  border: none;
  outline: none;
  padding: 30px 0 ;

  
  width: 100%;
  height: 520px;
  flex-shrink: 0;
}
.arrow{
  width: 40px;
  height: 40px;
  margin-left: -10px;
  background: url('/public/img/arrow-left.svg') ;
  color: black;
}

.sub-titulo{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2px;

  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal; 
}

.form-field{
  display: grid;
  gap: 10px 0;
  grid-template-columns: 1fr;
  max-width: 489px;
  width: 100%;
  padding: 20px 0;
  position: relative;
}
.form-field label{
  color: #000;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: lowercase;

}
.form-field input, .form-field select{
  min-height: 55px;
  padding: 0 0 0 10px;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background: #FFF;
  font-size: 18px;
}
.form-field select{
  appearance: none;
  background: url('/public/img/down-arrow.svg') no-repeat right center; /
}




#add-ponto-coleta-btn{
  position: absolute;
  width: 24px;
  height: 24px;
  bottom: 20px;
  right: -35px;
  cursor: pointer;
  text-decoration: none;
}


p.ou{
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal; 
}

p .red{
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.mg-left{
  margin-left: 5px;
}