:root{
  --primary-red: #FF5678; 
  --second-blue: #35E6E9;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */

main{
  padding: 40px 60px;
  display: grid;

  grid-template-columns: 1fr;
  gap: 30px;

  height: 100vh;
  justify-content: center;
  align-items: center;
  
}

.container-left{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 40px;
}
.container-left img{
  max-width: 409px;
  max-height: 307px;
  width: 100%;
  height: auto;
  flex-shrink: 0; 
 
}

h1.logo{
  font-family: 'Roboto', sans-serif;
}
.container-left h1{
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: normal; 
}

.red{
  color: var(--primary-red);
  margin-right: 10px;
}

.container-right{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background: #FFF;
  padding: 40px 60px;
  gap: 40px;
}

.container-right h2{
  color: #000;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.btn{
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 489px;
  width: 100%;
  min-height: 55px;
  cursor: pointer;

  text-decoration: none;
}
.btn.cadastro{
  border-radius: 12px;
  border: 2px solid #C0EBF4;
  background: var(--second-blue);

  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.btn.ver-entidades{
  border-radius: 12px;
  border: 2px solid #C0EBF4;
  background: var(--primary-red);

  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.container-right p{
  max-width: 488px;
  width: 100%;

  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  margin-top: 20px;
}
a.registra-campo{
  max-width: 488px;
  width: 100%;

  color: #000;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
}

/* Tablets and Small Desktops: */

@media screen and (min-width: 768px) {
  main{
    grid-template-columns: 1fr 1fr;
  }
}
